.dashboard-container {
    display: grid;
    height: 100vh;
    grid-template-areas:
      "games games games games"
      "games games games games"
      "contract contract contract status"
      "contract contract contract revenue";
    background-color: #252525;
  }
/*set each area grid*/
  .db-contract-container {
    grid-area: contract;
    background-color: transparent;
  }
  .db-games-container {
    grid-area: games;
    background-color: transparent;
  }
  .contract-status {
    grid-area: status;
  }
  .revenue {
    grid-area: revenue;
  }
/*each container*/
  .db-contract-container {
    margin: 0 1%;
    max-height: 300px;
  }
  .db-games-container {
    max-height: 250px;
    margin: 0 1%;
  }
  .img-dashboard-page {
    width: 70px;
    height: 70px;
  }
  .contract-status {
    background-color: #505050;
    border-radius: 10px;
    height: 200px;
    margin: 6% 2% 0 2%;
    opacity: 90%;
    padding: 0px 30px;
  }

  .revenue {
    background-color: #505050;
    border-radius: 10px;
    margin: 0 2%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .db-games-container > h6 {
    background: #252525;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    margin: 0px;
    opacity: 50%;
  }
  
  .db-contract-container > h6 {
    background: #252525;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    margin: 0px;
    opacity: 50%;
  }
  .revenue > h6 {
    color: #d9d9d9;
    margin: 10px;
    font-size: 20px;
  }
  .revenue > p {
    color: #d9d9d9;
    margin: 10px;
    font-size: 24px;
  }
  

/*game and contract table*/
.tbd-wrapper {
    /* position: relative; */
    max-height: 100%;
    overflow-y: scroll; 
    border-radius: 10px;
  }
  
  .tbd {
      color: #000;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
  }
  
  .tbd-body {
      background-color: #504e4e;
      color: #fff ;
      align-items: center;
  }
  
  .tbd-body > tr {
    height: 64px;
    border-bottom: #888888 1px solid;
  }
  
  .tbd-body > tr:hover {
    border: #0085ff 2px solid;
    border-radius: 10px;
  }
  
  tr:last-child {
    border: none;
  }
  
  .tbd-head > tr > th {
    padding: 10px 20px;
    color: #fff;
    background: #505050;
    opacity: 80%;
  }
  .tbd-head > tr > th:first-child {
    border-radius: 0 0 0 10px ;
  }
  .tbd-head > tr > th:last-child {
    border-radius:0 10px 10px 0;
  }
  .tbd-body > tr > td  {
    color: #fff ;
    padding: 20px;
    background-color: #505050;
  }

  .tbd-wrapper::-webkit-scrollbar{
    display: none;
  }

/* status coloring */
  .pending {color: #D6A700;}
  .active {color: #369FFF;}
  .completed {color: #52D800;}
  .overdue {color: #d9d9d9;}
  .canceled {color: #BE0000;}

